<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>src/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>

<phpunit>
    <php>
        <var name="DB_DSN" value="mysql:dbname=mrf;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="mrf" />
    </php>
</phpunit>