$ericssonBlue:#00285e;
$green:#89ba17;
$red:#e32219;
$white:#fff;
$orange:#f08a00;

$dark-grey:#333333;
$normal-grey:#666666;
$light-grey:#d6d6d6;
$border-grey:#eee;

$link-color:#0066b3;
$background-color:#f8f8f8;

$primary-font:arial;
$ericssonCapital:ericsson_capital_ttregular;