.profile {
	.categoriesContainer {
		border:2px solid $border-grey;
		padding:20px;
		border-radius:3px;
		background-color:$white;
	}
	
	.categories {
		margin-top:45px;
		font-size:12px;
		list-style:none;
		line-height:45px;
		
		li:first-child {
			border-top:1px solid $light-grey;
		}

		li {
			border-bottom:1px solid $light-grey;
		
			img {
				padding-right:15px;
			}
		}
	}
	
	.profileBody {
		border:2px solid $border-grey;
		padding:20px;
		border-radius:3px;
		background-color:$white;
	
		form {
			margin-top:25px;
		}
	
		label {
			font-weight:500;
			width:45%;
			float:left;
			font-size:1.2rem;
			line-height:2.2rem;
		}
		
		.form-group {
			height:20px;
		}

		.input {
			width:55%;
			padding:2px;
			float:left;
			height:25px;
			font-size:1.2rem;
			z-index:10;
		}
	}
	
}

